---
---

@charset "utf-8";

//
// Mixins
//

$breakpoint-small: 375pt;
$breakpoint-medium: 768pt;
$breakpoint-large: 1400pt;

@mixin small() {
    @media (max-width: $breakpoint-small) {
        @content;
    }
}

@mixin medium() {
    @media (min-width: $breakpoint-small + 1) and (max-width: $breakpoint-medium) {
        @content;
    }
}

@mixin large() {
    @media (min-width: $breakpoint-medium + 1) and (max-width: $breakpoint-large) {
        @content;
    }
}

@mixin largest() {
    @media (min-width: $breakpoint-large + 1) {
        @content;
    }
}

//
// Preliminaries
//

html {
    line-height: normal;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: #0081A7;
    text-decoration: none;
}

//
// Typography
//

body {
    font-family: 'Times New Roman', 'Nimbus Roman No9 L', serif;
    color: black;
}

code {
    font-family: 'Inconsolata', monospace;
    font-size: 0.9em;
}

//
// General Layout
//

.container {
    #title-block-header {
        width: 100%;
        text-align: center;

        h1 {
            @include small() {
                font-size: 2rem;
            }

            @include medium() {
                font-size: 2rem;
            }

            @include large() {
                font-size: 3rem;
            }

            @include largest() {
                font-size: 3rem;
            }
        }

        .author {
            @include small() {
                font-size: 1rem;
            }

            @include medium() {
                font-size: 1.2rem;
            }

            @include large() {
                font-size: 1.5rem;
            }

            @include largest() {
                font-size: 1.5rem;
            }
        }
    }

    #title-block-header, .toc-box, .content-box {
        border-bottom: 1px solid #ccc;
    }

    #title-block-header, .toc-box, .content-box, footer {

        @include small() {
            padding: 5px;
        }

        @include medium() {
            padding: 15px;
        }

        @include large() {
            padding: 50px;
        }

        @include largest() {
            padding: 50px;
        }
    }

    .toc-box nav, .content-box .content, footer {
        margin: 0 auto;

        @include small() {
            width: 90%;
        }

        @include medium() {
            width: 80%;
        }

        @include large() {
            width: 60%;
        }

        @include largest() {
            width: 60%;
        }
    }
}

//
// Content Layout
//

.content {
    @include small() {
        font-size: 0.9rem;
    }
    @include medium() {
        font-size: 0.9rem;
    }

    p {
        text-align: justify;
    }

    h1 {
        font-size: 2rem;
        border-bottom: 1px solid black;
    }

    h2 {
        font-size: 1.5rem;
        border-bottom: 1px solid #999;
    }

    h3 {
        font-size: 1.2rem;
        border-bottom: 1px solid #ddd;
    }

    blockquote {
        font-style: italic;
    }

    pre {
        border: 1px solid gray;
        padding: 1em;
    }

    dl dt {
        font-weight: bold;
    }

    table {
        border: 1px solid gray;
        border-collapse: collapse;

        th {
            font-weight: bold;
        }

        th, td {
            border: 1px solid gray;
            padding: 5px 15px;
        }
    }
}
