<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}Austral{% endif %}</title>
    <link rel="stylesheet" href="/assets/main.css">
    <meta name="description" content="Austral is a systems programming language designed for simplicity, maintability and security.">
    <link rel="stylesheet" href="/assets/katex-0.15.3/katex.min.css">
    <script defer src="/assets/katex-0.15.3/katex.min.js"></script>
    <script defer src="/assets/katex-0.15.3/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
    <link rel="stylesheet" href="/assets/highlight.js-11.5.1/default.min.css">
    <script src="/assets/highlight.js-11.5.1/highlight.min.js"></script>
  </head>
  <body>
    <h1 class="page-title">{{ page.title }}</h1>
    {% if page.breadcrumbs %}
      <nav class="breadcrumbs">
        {% for breadcrumb in page.breadcrumbs %}
          <a href="{{ breadcrumb.url }}">
	    {{ breadcrumb.title }}
	  </a>
	  {% if forloop.last == false %}
	    <span class="fleuron">»</span>
	  {% endif %}
        {% endfor %}
      </nav>
    {% endif %}
    <article>
      {{ content }}
    </article>
    <footer>
      &copy; 2021&ndash;2022 <a href="https://borretti.me/">Fernando Borretti</a>
    </footer>
    <script src="/assets/austral-highlight.js"></script>
  </body>
</html>
